.Pokecard{
    background-image: linear-gradient(
        to top,
        #dbdcd7 0%,
        #dddcd7 24%,
        #e2c9cc 30%,
        #e7627d 46%,
        #b8235a 59%,
        #801357 71%,
        #3d1635 84%,
        #1c1a27 100% ) ;

        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

        width: 300px;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
}

.title{
    color: white;
    font-size: 1.5rem;
}
.card-image img{
    width: 200px;
    opacity: .8;
    transition: all .4s ease;
    margin: 15px;
}
.card-image img:hover{
    opacity: 1;
    scale: 1.3;
}